*{
    box-sizing: border-box;
    margin: 0px;
}

html, body{
    height: 100%;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}

.main-container{
    background-color: white;
    width: 375px;
    height: 450px;
    padding: 20px;
}

h2{
    text-align: center;
    margin-bottom: 65px;
}

.game{
    width: 300px;
    height: 300px;
    background-color: black;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1px;
    column-gap: 1px;
    
}

.item{
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
    font-size: 86px;
}

.item:hover{
    background-color: rgb(254, 201, 131);
    cursor: pointer;
}

.active {
    opacity: 2;
}

.match{
    background-color: rgb(254, 201, 131);

}
